main {
    margin: auto;
    height: 100vh;
    background-color: #212121;
}

.message {
    margin: auto;
    width: 36vw;
    height: 30vh;
    border: 1px solid gray;
    border-radius: 5px;
    /* margin-bottom: 10px; */
    /* padding-top: 10%; */
    background-color: #EAF2F8;
    overflow: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}